.panel-close {
    position:relative;
    /*z-index: 999999;*/
    top: 20px;
    left: -750px;
    background: #337AB7;
    transition: all 0.9s;
    width: 320px;
    height: 500px;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}

.panel-open{
    position: relative;
    /*z-index: 999999;*/
    top: 20px;
    left: 0;
    background: #337AB7;
    transition: all 0.9s;
    width: 320px;
    height: 500px;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}

.side-b{
    color: #FFF;
    font-size: 8px;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase; /*Управляет регистром текста.*/
    margin-left: 8px;
}

.side-button-1{
    background: #337AB7;
    cursor: pointer; /*Определяет тип, отображаемого курсора.*/
    border: 2px solid #BFE2FF;
    width: 46px;
    height: 40px;
    margin-top: 10px;
    align-content: center;
}

.side-button-1-wr{
    /*display: block;*/
}

.side-close{
    display: none;
}


/*#side-checkbox:checked + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}*/


/*



!* Оформление панели *!
#side-checkbox {
    display: none;
}
.side-panel {
    position:absolute;
    z-index: 999999;
    top: 100px;
    margin-left: 40px;
    left: -750px;
    background: #337AB7;
    transition: all 0.9s;
    width: 320px;
    height: 500px;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
    margin-top: 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
!* Оформление кнопки на странице *!

.side-open .side-b {
    text-decoration: none;!*добавляет декорирование текста (подчеркивание, перечеркивание, линия над текстом).*!
    position: relative;!*указывает какой тип позиционирования используется для элемента (статический, относительный, абсолютный или фиксированный).*!
    font-size: 8px;
    line-height: 20px;!*Устанавливает межстрочный интервал (интерлиньяж).*!
    padding-top: 8px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; !*Управляет регистром текста.*!
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer; !*	Определяет тип, отображаемого курсора.*!
    border: 2px solid #BFE2FF;
    width: 46px;
    height: 40px;
    margin-top: 10px;
}

.side-button-1 .side-b:after,
.side-button-1 .side-b:before {!*before Добавляет содержимое перед каждым элементом*!
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 200ms ease-in-out;!*позволяет задать все свойства эффекта перехода (переход между двумя состояниями элемента) в одном объявлении.*!
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
!* Переключатели кнопки 1 *!
.side-button-1 .side-close {
    display: none;
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
!*
#side-checkbox:checked + .side-panel {
    left: 0;
}*!
!* Оформление кнопки на панеле *!
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}
*/
