.headers-in-center{
    margin-top: 100px;
    text-align: center;
}

td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid black; /* Рамка вокруг ячеек */
}

th{
    background: #308c30;
}

.table-date{
    /*float: right;*/
    /*position: center;*/
    /*display: block;*/
    text-align: center;
    margin-top: 45px;
    margin-left: 18%;
    width: 65%;
    /*border-style: solid;*/
}

.login-logout-css{
    position: relative;
    float: right;
    margin-right: 20%;
}

.img-icon-login-css{
    width: 60px;
    height: 40px;
}

.column-color-table{
    background-color: blue;
}
/*.headers-in-center{
    text-align: center;
}*/
