<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price</title>
    <link rel="stylesheet" type="text/css" href="/css/home/css-price.css">

</head>

<body>

    <div class="container">

        <h3 style="text-align:center">Схема работы</h3>

        <b>1. Консультация:</b>    <br />

        <div>

            Оператор обрабатывает ваш запрос и передает всю информацию нужному специалисту. Далее мастер связывается с вами и обозначает чем мы можем помочь и какие результаты вы получите.

            * При высокой загруженности ожидание звонка мастера может доходить до 24 часов
        </div> <br />

        <b>2. Осмотр:</b>

        <div>
            Выезд мастера на объект в удобное для вас время
            Непосредственно в вашем доме, коттедже или объекте мастер сможет выполнить предварительные замеры, набросать эскизы планов местности, объекта и схемы монтажа.

            * Если объект находится далеко от черты города, то возможна оплата выезда на осмотр, которая будет вычтена из сметы при заключении договора
        </div> <br />

        <b>3. Договор:</b>

        <div>
            Составление сметы и договора подряда
            Обсуждаем все нюансы, согласовываем бюджет, оптимизируем затраты, чтобы не тратить ваши деньги в пустую. Прописываем этапы и сроки выполнения работ, чтобы вы знали, когда, сколько и за что будете платить. Подписываем договор.
        </div> <br />

        <b>4. Работа:</b>

        <div>
            Выполнение работ: проектирование, монтаж и наладка
            Проектируем инженерные системы для вашего объекта, при необходимости повторно выезжаем на осмотр, чтобы все замеры были максимально точными.
            Мастера производят монтаж и наладку инженерных систем, а также убирают после себя весь строительный мусор.

            * Если строительного мусора много, то заказ контейнера производится за счет заказчика и оговаривается заранее, либо по факту.
        </div> <br />


        <b>5. Приемка:</b>

        <div>
            Финальный расчет производится после подписания акта-приемки выполненных работ.

        </div>  <br /><br /><br /><br />

        <h3 style="text-align:center">Объем работы:</h3>

        <div class="row">

            <div class="col-md-6 indention-tags">
                <label class="label-font" for="area">Общая площадь дома или квартиры (м2)</label>
                <input id="area" class="form-control">
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font" for="quantity-room">Количество комнат</label>
                <select class="form-control" id="quantity-room">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font" for="lighting">Освещение</label>
                <select class="form-control" id="lighting">
                    <option>8 Групп освещения</option>
                    <option>16 Групп освещения</option>
                    <option>32 Групп освещения</option>
                    <option>64 Групп освещения</option>
                </select>
            </div>

            <div class="col-md-6 indention-tags">
                <label class="label-font" for="heating-system">Система отопления</label>
                <select class="form-control" id="heating-system">
                    <option>1 группа отопления</option>
                    <option>4 группа отопления</option>
                    <option>8 группа отопления</option>
                    <option>12 группа отопления</option>
                </select>
            </div>

            <div class="col-md-6 indention-tags">
                <label class="label-font" for="ventilation-system">Система вентиляции</label>
                <select class="form-control" id="ventilation-system">
                    <option>Да</option>
                    <option>Нет</option>
                </select>
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font" for="conditioner-control">Управление кондиционерами</label>
                <select class="form-control" id="conditioner-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

            <div class="col-md-6 indention-tags">
                <label class="label-font" for="number-motion-sensors">Количество датчиков движения и присутствия</label>
                <select class="form-control" id="number-motion-sensors">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font" for="number-fire-detectors">Количество пожарных датчиков</label>
                <select class="form-control" id="number-fire-detectors">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

            <div class="col-md-6 indention-tags">
                <label class="label-font" for="curtain-control">Управление шторами, дверьми, воротами</label>
                <select class="form-control" id="curtain-control">
                    <option>Нет</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font" for="leakage-protection">Защита от протечек</label>
                <select class="form-control" id="leakage-protection">
                    <option>1 зона</option>
                    <option>2 зона</option>
                    <option>3 зона</option>
                </select>
            </div>

            <div class="col-md-12 indention-tags text-center">
                <label class="label-font" for="number-sockets">Количество розеток и электроприборов для управления через систему "Умный Дом"</label>
                <select class="form-control" id="number-sockets">
                    <option>1 зона</option>
                    <option>2 зона</option>
                    <option>3 зона</option>
                </select>
            </div>


            <div class="col-md-6 indention-tags">
                <label class="label-font mb-5">В стоимость системы "Умный Дом" включены:</label>
                <ul>
                    <li>Проектирование системы</li>
                    <li>Сборка щитов автоматики</li>
                    <li>Программирование оборудования</li>
                    <li>Настройка работы системы</li>
                    <li>Управление системой с мобильного устройства</li>
                    <li>Создание и редактирование сценариев и режимов работы</li>
                    <li>Сигнализация, Push-оповещение о важных событиях</li>
                </ul>
            </div>


            <div class="col-md-6">

                <label class="label-font mt-4 mb-3" >Требуется ли монтаж электропроводки и электроприборов (датчики, розетки,
                    светильники и т.д.) со стороны специалиастов нашей компании</label>

                <input type="radio" id="radio1">

                <label for="radio1">Требуется</label>

                <br>

                <input type="radio" id="radio2">

                <label for="radio2">Не требуется (выполняется третьими лицами / организациями)</label>

            </div>

            <div id="contact" class="text-center form-control"
                 style="background-color:green; color:white">Отправить заявку</div>

        </div>

    </div>

</body>
</html>