<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinate</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h4 class="text-center col-md-offset-4">Координаты</h4>
            <div class="col-md-4 col-md-offset-5">
                <address>
                    <strong>Офис:</strong><br />
                    город<br />
                    индекс:адрес<br />
                    <!--<abbr title="Phone">P:</abbr> ### -->
                </address>
            </div>
            <div>
                <address>
                    <strong>Email:</strong> email<br />
                    <strong>Phone:</strong> ###
                </address>
            </div>
        </div>
    </div>
</body>
</html>