<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Development</title>
</head>
<body>
    <div>

        <h4>Разработка ПО:</h4>

        Разработка ПО разбивается на этапы. На старте погружаем задачу, формируем план работ и договариваемся о том, какой результат Вы получаете на выходе каждого этапа.


        <h4>Вы всегда знаете, что происходит с продуктом и проектом:</h4>

        <ul>
            <li>
                Ваш выделенный менеджер всегда на связи.
            </li>

            <li>
                Регулярно демонстрируем промежуточные результаты.
            </li>

            <li>
                В процессе разработки ПО актуальные версии Вашей системы доступны на тестовых стендах.
            </li>

            <li>
                Формируем прозрачную отчетность затрат.
            </li>

        </ul>

        <h4>Схемы оплаты: повременная</h4>

        На старте работ формируется эксперт для разработки ПО. Услуги оплачиваются ежемесячно по факту выполненных работ. Оплата работ происходит по факту затраченного времени.
        Вы получаете уведомление  о проделанных работах после согласования отчета и демонстрации результата.


        <h4>Оплата за этап:</h4>

        <ul>

            <li>Работы по проекту разбиваются на отдельные этапы работ длительностью в 2-3 недели с определенной функциональностью.</li>
            <li>После согласования состава работ и стоимости Вы производите предоплату в размере 50% от стоимости этапа. </li>
            <li>По завершении работ проводится приемка и оплата остатка от ранее согласованной стоимости этапа.</li>

        </ul>

        <button style="margin-top:45px; background-color:green; color:white" class="col-md-offset-5">Заказать ПО</button>

</div>
</body>
</html>