<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LayOut</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css.css">
    <link rel="stylesheet" type="text/css" href="/css/menu_css.css">
</head>
<body>
    <div class="container">
        <div class="menu-container">
            <div class="menu">
                <ul>
                    <li>
                        <label id="ref_company_id" class="header-total">КОМПАНИЯ</label>
                    </li>

                    <li>
                        <label id="ref_services_id" class="header-total">УСЛУГИ</label>
                    </li>

                    <li>
                        <label id="ref_prices_id" class="header-total">ЦЕНА</label>
                    </li>

                    <li>
                        <label id="ref_coordinate_id" class="header-total">КОНТАКТЫ</label>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <script src="/js/js-layout.js"></script>

</body>
</html>