<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
    <style>
        .panelHeaderRef{
            color: #0a0a0a;
        }
       /* .side-panel > ul > li > span > a{
            color: red;
        }*/
    </style>
</head>
<body>
    <div id="id-panel" class="side-panel panel-close">
            <div style="margin-bottom: 25px">Выдвижная панель:</div>
            <ul>

                <li>
                    <span>
                        <a href="/home/company-page" class="panelHeaderRef">КОМПАНИЯ</a>
                    </span>
                </li>


                <li>
                    <span>
                        <a href="/home/services-page" class="panelHeaderRef">УСЛУГИ</a>
                    </span>
                </li>

                <li>
                    <span>
                        <a href="/home/sphere-activity" class="panelHeaderRef">ЦЕНА</a>
                    </span>
                </li>

                <li>
                    <span>
                        <a href="/home/coordinate-page" class="panelHeaderRef">КОНТАКТЫ</a>
                    </span>
                </li>


                <li>
                    <span>
                        <a href="/login" class="panelHeaderRef">ВХОД</a>
                    </span>
                </li>
            </ul>
    </div>

    <!--<script src="/js/jsPanel.js"></script>-->
</body>
</html>