<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
    <style>
        .refColor{
            color: #0a0a0a;
        }
    </style>
</head>
<body>
    <div id="id-panel" class="side-panel panel-close">
            <div>Выдвижная панель:</div>
            <p>Информация в панеле</p>
            <ul>

                <li>
                    <span>
                        <a href="/home/company-page" class="refColor">КОМПАНИЯ</a>
                    </span>
                </li>


                <li>
                    <span>
                        <a href="/home/services-page" class="refColor">УСЛУГИ</a>
                    </span>
                </li>

                <li>
                    <span>
                        <a href="/home/sphere-activity" class="refColor">ЦЕНА</a>
                    </span>
                </li>

            </ul>
    </div>
</body>
</html>