<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <title>автоматизация объектов</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/panel/panel.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
  <div id="service">
    <div class="container">


      <div class="text-center mt-5">
        <b style="font-size:21px;margin-left:25px">

          <a href="http://localhost:8180/home/start-page">

            <span style="font-size:30px;">А</span>

          </a>

          <span style="margin-left:-4px; color: brown">

                    втоматизированные системы управления

                </span>

        </b>
      </div>


      <div class="mt-5">
        <div id="idButtonPanel" v-on:click="eventPanel()" class="side-button-off">
          <div class="side-b">close</div>
        </div>
      </div>


      <div class="mt-5">
        <img src="/images/lighting.bmp" width="300" /><br /><br />
      </div>


      <div class="col-md-7 col-md-offset-4">
        <p>
          1. Разработка програмного обеспечения на ASP.NET (Core, MVC), WPF, Windows Forms, приложений на C#, Python, Java.
        </p>
        <p>
          2. Автоматизация и удаленное управление любых узлов такие как, отопление (котлы, радиаторы, теплые полы), включение и отключение, контроль и изменение температур.
          Система отопления, вентиляции и кондиционирования объединяются в единую сеть для автоматического поддержания комфортного микроклимата в доме.
          А наличие датчика концентрации СО2 обеспечит постоянный мониторинг качества воздуха.
          Мониторинг параметров, которые позволяет собирать данные со счетчиков энергии, воды и газа для сохранения с последующей визуализации накопленной статистики.
          Контроль системы водоснабжения и протечки воды.
        </p>
      </div>


      <div class="col-md-12">
        <p>
          3. Безопасность и охранно-пожарная сигнализация. Современная интеллектуальная охранная система с возможностью передачи мгновенных сообщений и дистанционным
          управлением сигнализацией с помощью смартфона/ планшета/ компьютера.
          Контроль состояния всех систем для оперативного выявления технических проблем.
        </p>
        <p>
          4. Управление системой видеонаблюдения и домофоном, удаленный просмотр видео в режиме реального времени на любом устройстве в т.ч.
          и с мобильного устройства, запись видео с сохранением в регистраторе или в облачном сервисе.
        </p>
        <p>
          5. Системное администрирование сервера, настройка, поддержкой ИТ-инфраструктуры, включая оборудование, периферию, программное обеспечение и сетевые подключения.
        </p>

        <p>
          *Техническое обслуживание позволит обеспечить безаварийную работу всех систем здания.
        </p>

      </div>

      <hr />

      <div id="form-load" style="margin-top: -900px"></div>

    </div>

  </div>

    <script src="/js/jsService.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>