<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>автоматизация объектов</title>
</head>
<body>
    <div class="container">
      <div class="col-md-1">
        <img src="/images/lighting.bmp" width="300" /><br /><br />
      </div>
      <div class="col-md-7 col-md-offset-4">
        <p>
          1. Разработка програмного обеспечения на ASP.NET (Core, MVC), WPF, Windows Forms, приложений на C#, Python, Java.
        </p>
        <p>
          2. Автоматизация и удаленное управление любых узлов такие как, отопление (котлы, радиаторы, теплые полы), включение и отключение, контроль и изменение температур.
          Система отопления, вентиляции и кондиционирования объединяются в единую сеть для автоматического поддержания комфортного микроклимата в доме.
          А наличие датчика концентрации СО2 обеспечит постоянный мониторинг качества воздуха.
          Мониторинг параметров, которые позволяет собирать данные со счетчиков энергии, воды и газа для сохранения с последующей визуализации накопленной статистики.
          Контроль системы водоснабжения и протечки воды.
        </p>
      </div>
      <div class="col-md-12">
        <p>
          3. Безопасность и охранно-пожарная сигнализация. Современная интеллектуальная охранная система с возможностью передачи мгновенных сообщений и дистанционным
          управлением сигнализацией с помощью смартфона/ планшета/ компьютера.
          Контроль состояния всех систем для оперативного выявления технических проблем.
        </p>
        <p>
          4. Управление системой видеонаблюдения и домофоном, удаленный просмотр видео в режиме реального времени на любом устройстве в т.ч.
          и с мобильного устройства, запись видео с сохранением в регистраторе или в облачном сервисе.
        </p>
        <p>
          5. Системное администрирование сервера, настройка, поддержкой ИТ-инфраструктуры, включая оборудование, периферию, программное обеспечение и сетевые подключения.
        </p>

        <p>
          *Техническое обслуживание позволит обеспечить безаварийную работу всех систем здания.
        </p>

      </div>

    </div>
</body>
</html>