<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ServerAdministration</title>
</head>
<body>
    <div>

      <b>

        Администрирование серверов — услуга по настройке, управлению и техническому обслуживанию вашего сервера.

      </b> <br />

      <div style="margin-top:45px">
        <b>Обслуживание компьютеров</b>

        <ul>

          <li>Обслуживание компьютеров и серверов на разовой и постоянной основе. Удаленная поддержка и выезд в день обращения.</li>

        </ul>

        <b>Локальные сети</b>

        <ul>

          <li>Монтаж локальных и беспроводных сетей. Установка, настройка и обслуживание сетевого оборудования.</li>

        </ul>

        <b>Системы видеонаблюдения</b>

        <ul>

          <li>Установка и настройка видеонаблюдения. Подключение удаленного просмотра на мобильных устройствах и ПК.</li>

        </ul>

      </div> <br />

      <b style="margin-top:35px; color:green">Услуги от 2000 ₽.</b> <br />

      <button style="margin-top:45px; background-color:green; color:white" class="col-md-offset-5">Заказать ПО</button>

    </div>

</body>
</html>