<!--<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SphereActivity</title>
</head>
<body>-->

    <!--<div id="app">-->

            <h4>Список цен:</h4>

            <input type="radio" value="Разработке Web-приложений, сайтов ASP.NET Core, MVC 5." v-model="user"/>

            <label>Автоматизаций объектов.</label>

            <br />

            <input type="radio" value="Автоматизаций объектов." v-model="user" />
            <label>Автоматизаций объектов.</label>

            <br />

            <input type="radio" value="Системное администрирование сервера." v-model="user" />
            <label>Системное администрирование сервера.</label>

            <br />

            <!--<div class="text-center ref-next" style="margin-top:45px; background-color:green; color:white">Продолжить</div>-->

            <!--<button style="margin-left:45px">Отмена</button>-->

            <span>Выбрано: {{ user }}</span>
    <!--</div>-->

       <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        <script src="/js/jsSphereActivity.js" type="module"></script>-->

<!--
</body>
</html>-->
