<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Разработке web-приложений, сайтов ASP.NET Core, MVC 5">
    <!--<link rel="icon" href="http://xn--d1aqu.su/favicon.ico" type="image/x-icon">-->
    <title>домашний умный модуль</title>
</head>
<body>
    <div class="container">

        <div class="col-md-6">
            <h4>Создание сайта</h4>
            <ul>

                <li>Landing Page</li>
                <li>Сайт-визитка</li>
                <li>Сайт-каталог</li>
                <li>Промо-сайт</li>
                <li>Корпоративный сайт</li>
            </ul>

        </div>

        <div class="col-md-6">

            <h4>Разработка веб-приложения</h4>
            <ul>
                <li>Автоматизация бизнеса</li>
                <li>Системы электронного документооборота</li>
                <li>Интернет-магазин</li>
                <li>Сервисы и порталы</li>
                <li>Интранет-системы</li>
            </ul>

        </div>



        <div class="col-md-12" style="text-align:center;margin-top:45px">

            <h4>Адаптивность</h4>

            Ваш сайт либо веб-приложение будет автоматически хорошо смотреться на смартфонах, планшетах и компьютерах.

            <h4>Кроссплатформенность</h4>

            Приложение, которое работает под любой операционной системой, любым браузером и устройством.


            <h4>Сопровождение сайтов, веб-приложений </h4>

            Услуги по наполнению контентом, сопровождению и комплексному техническому обслуживанию.

        </div>

    </div>
</body>
</html>